* {
  margin: 0;
  padding: 0;
}

/* Код для подключения шрифта в /css/styles.css */
@font-face {
  font-family: "InterThin";
  src: url("../fonts/InterThin/InterThin.eot");
  src: url("../fonts/InterThin/InterThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterThin/InterThin.woff") format("woff"),
    url("../fonts/InterThin/InterThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "InterThinBold";
  src: url("../fonts/InterBold/InterBold.eot");
  src: url("../fonts/InterBold/InterBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterBold/InterBold.woff") format("woff"),
    url("../fonts/InterBold/InterBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

.left_part_header {
  width: 50%;
}

.right_part_header {
  position: relative;
  width: 50%;
}

.main_text_header {
  font-family: "InterThinBold";
  font-size: 80px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

.tabs_ul {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.tabs_li {
  background-color: #ffffff;
  border: 1px solid #BBBBBB;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.tabs_text {
  font-family: "InterThinBold";
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.tabs_position {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
  display: inline-block;
}

.tabs_li:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 0px;
}
