* {
  margin: 0;
  padding: 0;
}

/* Код для подключения шрифта в /css/styles.css */
@font-face {
  font-family: "InterThin";
  src: url("../fonts/InterThin/InterThin.eot");
  src: url("../fonts/InterThin/InterThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterThin/InterThin.woff") format("woff"),
    url("../fonts/InterThin/InterThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "InterBold";
  src: url("../fonts/InterBold/InterBold.eot");
  src: url("../fonts/InterBold/InterBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterBold/InterBold.woff") format("woff"),
    url("../fonts/InterBold/InterBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "InterRegular";
  src: url("../fonts/InterRegular/InterRegular.eot");
  src: url("../fonts/InterRegular/InterRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../fonts/InterRegular/InterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
}

.left_part_header {
  width: 50%;
}

.right_part_header {
  position: relative;
  width: 50%;
}

.main_text_header {
  font-family: "InterBold";
  font-size: 80px;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

.tabs_ul {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.tabs_li {
  background-color: #ffffff;
  border: 1px solid #BBBBBB;
  border-radius: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.tabs_text {
  font-family: "InterBold";
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.tabs_position {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
  display: inline-block;
}

.tabs_li:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 0px;
}


.carts {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-left: 20%;
  margin-right: 20%;
}


.cart_orange {
  align-content: space-between;
  display: grid;
  height: 450px;
  width: 400px;
  background: linear-gradient(96deg, #FFC95D, #FC7C05);
  border-radius: 50px;
  color: white;
  padding: 30px;
}

.cart_white {
  align-content: space-between;
  display: grid;
  height: 450px;
  width: 400px;
  background: #ffffff;
  border: 1px solid #BBBBBB;
  border-radius: 50px;
  color: #000000;
  padding: 30px;
}

.cart_purple {
  align-content: space-between;
  display: grid;
  height: 450px;
  width: 400px;
  background: linear-gradient(96deg, #BE67D9, #5E27FC);
  border-radius: 50px;
  color: white;
  padding: 30px;
}

.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_header p {
  vertical-align: middle;
  font-family: "InterRegular";
  font-size: 20px;
}


.cart_body h2{
  font-weight: 500;
  font-family: "InterRegular";
  font-size: 32px;
}

.cart_body p {
  font-family: "InterRegular";
  font-size: 14px;
  margin-top: 10px;
}



